/* https://github.com/catppuccin/catppuccin#-palette */
/* https://github.com/catppuccin/catppuccin/blob/main/docs/style-guide.md#regular-colors */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #5c5f77;
}

#icon {
  position: fixed;
  bottom: 32px;
  right: 32px;
  cursor: pointer;
}

#icon i {
  color: #acb0be;
  transition: color 0.2s ease;
}

#icon:hover i {
  color: #f4f4f4;
}
